/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/thumbnails/*
/web/uploads/posts/*
/web/uploads/medias/*
/web/uploads/subgrupos/*
/web/uploads/aderentes/*
/web/uploads/grupos/*
/web/media/*
/web/paysysv3
/web/paysysv3test
/web/paysysv3testgp
/nbproject/private/private.xml
