imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: pt

framework:
    #esi: ~
    translator: { fallbacks: ['%locale%'] }
    secret: '%secret%'
    router:
        resource: '%kernel.root_dir%/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    #serializer: { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale: '%locale%'
    trusted_hosts: ~
    trusted_proxies: ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id:  session.handler.native_file
        save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
    fragments: ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true

# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_mysql
        host: '%database_host%'
        port: '%database_port%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
        charset: UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/../var/data/data.sqlite"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    username: '%mailer_user%'
    password: '%mailer_password%'
#    port : %mailer_port%
    #auth_mode: login
    encryption: tls
#    spool: { type: memory }


#
#monolog:
#    handlers:
#        main:
#            type:         fingers_crossed
#            action_level: critical
#            handler:      grouped
#        grouped:
#            type:    group
#            members: [streamed, deduplicated]
#        streamed:
#            type:  stream
#            path:  '%kernel.logs_dir%/%kernel.environment%.log'
#            level: error
#        deduplicated:
#            type:    deduplication
#            handler: swift
#        swift:
#            type:       swift_mailer
#            from_email: 'suporte@parcelaja.pt'
#            to_email:   ['lmiguens@consolidador.com']
#            subject:    'An Error Occurred! %%message%%'
#            level:      error
#            formatter:  monolog.formatter.html
#            content_type: text/html
#
#

fos_user:
    db_driver: orm # other valid values are 'mongodb' and 'couchdb'
    firewall_name: main
    user_class: AppBundle\Entity\User
    from_email:
        address: "%mailer_user%"
        sender_name: "%mailer_user%"
        
        
#        
#vich_uploader:
#    # ...
#    mappings:
#        post_images:
#            uri_prefix:         '%app.path.post_images%'
#            upload_destination: '%kernel.root_dir%/../web/uploads/images/posts'

vich_uploader:
    db_driver: orm
    twig:       true
    mappings:
        post_image:
            uri_prefix:         /uploads/posts
            upload_destination: %kernel.root_dir%/../web/uploads/posts
            inject_on_load:     false
            delete_on_update:   true
            delete_on_remove:   true
            namer:              vich_uploader.namer_uniqid
        media_image:
            uri_prefix:         /uploads/medias
            upload_destination: %kernel.root_dir%/../web/uploads/medias
            inject_on_load:     false
            delete_on_update:   true
            delete_on_remove:   true
            namer:              vich_uploader.namer_uniqid    
        aderente_image:
            uri_prefix:         /uploads/aderentes
            upload_destination: %kernel.root_dir%/../web/uploads/aderentes
            inject_on_load:     false
            delete_on_update:   true
            delete_on_remove:   true
            namer:              vich_uploader.namer_uniqid   
            
            
            
            
#http://symfony.com/doc/master/bundles/LiipImagineBundle/filters.html
liip_imagine:
    resolvers:
       default:
          web_path: ~
    filter_sets:
        cache: ~
        small_thumb:
            quality: 100
            filters:
                thumbnail: { size: [100, 100], mode: outbound }
                
                