#app:
#    resource: '@AppBundle/Controller/'
#    type: annotation

backend:
    resource: "@AppBundle/Resources/config/routing.yml"
    prefix:   /


homepage:
    path:      /{_locale}
    defaults:  { _controller: AppBundle:Default:index, _locale: pt }
    requirements:
        _locale:  en|pt
        
        
email:
    path:      /{_locale}/email
    defaults:  { _controller: AppBundle:Default:email, _locale: pt }
    requirements:
        _locale:  en|pt