{# empty Twig template #}


<style>

    .bg-master-darker{
        background-color: #074067!important;
    }


    .btn1
    {
        background-image:none !important;
        background-color:#7a9a2b !important;
        border-color: white;
    }



    .btn1:hover
    {
        border-color: white;
        background-image:none !important;
        background-color:white !important;
        color: black;
    }



</style>



<!-- BEGIN CONTENT BAR CALL FOR ACTION-->
<section class="p-b-15 p-t-15 bg-master-darker text-center text-white">
    <h3 class="inline text-white xs-m-b-20">{% trans %}cal_for_action_text{% endtrans %}</h3>
    <a class="btn btn1 btn-cons btn-bordered m-l-20 xs-no-margin" href="#{% trans %}bookmark_contactus{% endtrans %}" type="button">{% trans %}cal_for_action_button{% endtrans %}</a>
</section>
<!-- END CONTENT BAR CALL FOR ACTION -->