{# empty Twig template #}

<!-- BEGIN CONTENT SECTION COSTUMERS-->
<section id="costumers" class="p-t-55 bg-success-light scroll-x-hidden" data-pages-bg-image="{{ asset('bundles/app/frontend/assets/images/work.jpg') }}" data-pages="parallax">
    <div class="container p-b-100">
        <h5 class="block-title text-white ">{% trans %}costumers_block_title{% endtrans %}</h5>
        <div class="row p-b-65 p-t-55">
            <div class="col-sm-6">
                <h1 class="m-t-5 light text-white">{% trans %}costumers_title{% endtrans %}</h1>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="progress progress-small transparent-white m-t-15">
                            <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            </div>
                        </div>
                        <h3 class="text-white no-margin lh-large">200%</h3>
                        <p class="text-white fs-12 font-arial">Smoother
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress progress-small transparent-white m-t-15">
                            <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                            </div>
                        </div>
                        <h3 class="text-white no-margin lh-large">23%</h3>
                        <p class="text-white fs-12 font-arial">Lighter
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress progress-small transparent-white m-t-15">
                            <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            </div>
                        </div>
                        <h3 class="text-white no-margin lh-large">12.23ma</h3>
                        <p class="text-white fs-12 font-arial">Micro Awesomness
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress progress-small transparent-white m-t-15">
                            <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            </div>
                        </div>
                        <h3 class="text-white no-margin lh-large">12.23ma</h3>
                        <p class="text-white fs-12 font-arial">Micro Awesomness
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-white font-arial small-text m-b-50">VIA REVOX LTD. www.revox.io/latest</p>
        <div class="content-triangle"></div>
    </div>
</section>
<!-- END CONTENT SECTION COSTUMERS-->