{# empty Twig template #}
<section class="p-t-55 bg-success-light scroll-x-hidden" data-pages-bg-image="assets/images/work.jpg" data-pages="parallax">
      <div class="container p-b-100">
        <h5 class="block-title text-white ">Customers</h5>
        <div class="row p-b-65 p-t-55">
          <div class="col-sm-6">
            <h1 class="m-t-5 light text-white">
              Powered by over 50,000
              Companies trust us 
              with their customers.
            </h1>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="progress progress-small transparent-white m-t-15">
                  <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  </div>
                </div>
                <h3 class="text-white no-margin lh-large">200%</h3>
                <p class="text-white fs-12 font-arial">Smoother
                </p>
              </div>
              <div class="col-sm-6">
                <div class="progress progress-small transparent-white m-t-15">
                  <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                  </div>
                </div>
                <h3 class="text-white no-margin lh-large">23%</h3>
                <p class="text-white fs-12 font-arial">Lighter
                </p>
              </div>
              <div class="col-sm-6">
                <div class="progress progress-small transparent-white m-t-15">
                  <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                  </div>
                </div>
                <h3 class="text-white no-margin lh-large">12.23ma</h3>
                <p class="text-white fs-12 font-arial">Micro Awesomness
                </p>
              </div>
              <div class="col-sm-6">
                <div class="progress progress-small transparent-white m-t-15">
                  <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                  </div>
                </div>
                <h3 class="text-white no-margin lh-large">12.23ma</h3>
                <p class="text-white fs-12 font-arial">Micro Awesomness
                </p>
              </div>
            </div>
          </div>
        </div>
        <p class="text-white font-arial small-text m-b-50">VIA REVOX LTD. www.revox.io/latest</p>
        <div class="content-triangle"></div>
      </div>
    </section>
    <section class="p-b-55 p-t-25">
      <!-- BEGIN TESTIMONIALS SLIDER-->
      <div class="swiper-container" id="testimonials_slider">
        <div class="swiper-wrapper">
          <!-- BEGIN TESTIMONIAL -->
          <div class="swiper-slide">
            <div class="container text-left">
              <h5 class="semi-bold m-b-30">- Richard Hall</h5>
              <h3 class="m-b-30">“Pages is the right balance of proven solution and true partner. We choose vendors that we can partner and scale with.”</h3>
              <h6 class="block-title hint-text fs-12">DIRECTOR OF REVENUE OPERATIONS AT REVOX</h6>
            </div>
          </div>
          <!-- END TESTIMONIAL -->
          <!-- BEGIN TESTIMONIAL -->
          <div class="swiper-slide">
            <div class="container text-left">
              <h5 class="semi-bold m-b-30">- John Smith</h5>
              <h3 class="m-b-30">“Pages is the right balance of proven solution and true partner. We choose vendors that we can partner and scale with.”</h3>
              <h6 class="block-title hint-text fs-12">CEO & Co-founder AT REVOX</h6>
            </div>
          </div>
          <!-- END TESTIMONIAL -->
          <!-- BEGIN TESTIMONIAL -->
          <div class="swiper-slide">
            <div class="container text-left">
              <h5 class="semi-bold m-b-30">- David Nester</h5>
              <h3 class="m-b-30">“Pages is the right balance of proven solution and true partner. We choose vendors that we can partner and scale with.”</h3>
              <h6 class="block-title hint-text fs-12">Creative Director & UI Specialist AT REVOX</h6>
            </div>
          </div>
          <!-- END TESTIMONIAL -->
        </div>
        <!-- Add Navigation -->
        <div class="container">
          <div class="swiper-pagination relative pull-left"></div>
        </div>
      </div>
      <!-- END TESTIMONIALS -->
    </section>