{# empty Twig template #}


<!-- BEGIN INTRO CONTENT -->
<section id="{% trans %}bookmark_faqs{% endtrans %}" class="p-b-20 p-t-70">
    {#    <div class="container text-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    
                    <h1 style="color: #074076" class="m-t-5 light">{% trans %}faqs_title{% endtrans %}</h1>
                </div>
            </div>
        </div>#}


    <div class='text-center'>
        {#<img src="assets/images/arrow_down.png" alt="">#}
        <h5 class="block-title m-t-40 hint-text m-b-0">{% trans %}faqs_over_title_01{% endtrans %}</h5>
        <h1 class="light m-t-5">{% trans %}faqs_title_01{% endtrans %}</h1>
        <h5 class="hint-text">{% trans %}faqs_bellow_title_01{% endtrans %}</h5>
    </div>
<br/>


    <div class="container">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            {% trans %}faqs_question_01{% endtrans %}
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        {% trans %}faqs_answer_01{% endtrans %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            {% trans %}faqs_question_02{% endtrans %}
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        {% trans %}faqs_answer_02{% endtrans %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            {% trans %}faqs_question_03{% endtrans %}
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        {% trans %}faqs_answer_03{% endtrans %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            {% trans %}faqs_question_04{% endtrans %}
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        {% trans %}faqs_answer_04{% endtrans %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {% trans %}faqs_question_05{% endtrans %}
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {% trans %}faqs_answer_05{% endtrans %}
                    </div>
                </div>
            </div>
        </div>











































    </div>


</section>




{#               
               <section id="section1" class="p-b-100 p-t-10">
 <div class="container">
   <div class="row">
     <div class="col-sm-6 col-md-4">
       <h2 class="inline p-r-15 m-b-0"><img src="assets/images/crop.svg" class="feature-icon" alt=""></h2>
       <h5 class="block-title m-b-0 inline">Quick notes </h5>
       <div class="p-l-45">
         <h2 class="m-t-0">Note them down</h2>
         <p class="m-t-20">simple and awesome notepad app. It gives you a quick and simple notepad editing experience when you write notes</p>
         <p class="font-arial hint-text small m-t-30">Memos, e-mails, messages, shopping lists and to-do lists.</p>
       </div>
     </div>
     <div class="col-sm-6 col-md-4">
       <h2 class="inline p-r-15 m-b-0"><img src="assets/images/meter.svg" class="feature-icon" alt=""></h2>
       <h5 class="block-title m-b-0 inline">Quick notes </h5>
       <div class="p-l-45">
         <h2 class="m-t-0">Crystal Clear</h2>
         <p class="m-t-20">Pages UI Framework uses vectors, which mean they're gorgeous on high-resolution displays.</p>
         <h6 class="block-title m-b-5 fs-13 m-t-30 ">Retina ready</h6>
         <p>Ready made 2x for retina displays</p>
         <h6 class="block-title m-b-5 fs-13 m-t-30">Vector elements</h6>
         <p>CSS vector elements and icons.</p>
         <p class="font-arial hint-text small m-t-30">Icon Fonts, Vector SVG's, pages vector icons, Font awesome., Retina Ready.</p>
       </div>
     </div>
     <div class="col-sm-6 col-md-4">
       <h2 class="inline p-r-15 m-b-0"><img src="assets/images/size.svg" class="feature-icon" alt=""></h2>
       <h5 class="block-title m-b-0 inline">Any Screen </h5>
       <div class="p-l-45">
         <h2 class="m-t-0">Keep connected</h2>
         <p class="m-t-20">Quick chat helps you to Keep in touch with your friends and colleagues while working. It has a unique responsive design.</p>
         <p class="font-arial hint-text small m-t-30">Multipurpose, Highly Customizable Chat UI design for anyone.</p>
       </div>
     </div>
   </div>
 </div>
</section>#}





<!-- END INTRO CONTENT -->


