
        
        
        <section class="p-b-65 p-t-60 bg-master-darkest demo-custom-height-2" 
                 data-pages-bg-image="{{ asset('bundles/app/assets/images/banner_01_en.png') }}"  
                 data-pages="parallax" 
                 data-bg-overlay="black" 
                 data-overlay-opacity="0.4">
<div class="inner">
</div>

    </section>