


<section class="p-b-65 p-t-60 bg-master-darkest demo-custom-height-2" 
         data-pages-bg-image="{{ asset('bundles/app/frontend/assets/images/index.jpeg') }}"  
         data-pages="parallax" 
         data-bg-overlay="black" 
         data-overlay-opacity="0.4">
    <div class="inner"> Parcela Já.
Compre Já.
Pague depois.

    </div>

</section>


