{# empty Twig template #}
<!-- BEGIN JUMBOTRON -->
{#<section class="jumbotron full-height bg-primary demo-height-2" data-pages="parallax">
    <div class="full-height" data-pages-bg-image="{{ asset('bundles/app/frontend/assets/images/index.jpeg') }}" data-bg-overlay="black" data-overlay-opacity="0.4">
        <div class="container-xs-height full-height inner">
            <div class="col-xs-height col-middle text-left">
                <div class="container">
                    <div class="col-sm-12">
                        <h1 class="light text-white text-center">Powerful, Highly Customizable UI Framework</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
#}<!-- END JUMBOTRON -->






<section class="full-height bg-primary demo-height-2" data-pages="parallax">
    <div class="full-height" data-pages-bg-image="{{ asset('bundles/app/frontend/assets/images/index.jpeg') }}" data-bg-overlay="black" data-overlay-opacity="0.4">
        <div class="container-xs-height full-height inner">
            <div class="col-xs-height col-middle text-left">
                <div class="container">
                    <div class="col-sm-12">
                        <h1 class="light text-white text-center">Parcela J치.<br/> Compre J치. Pague depois.
</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{#

<section class="p-b-65 p-t-60 bg-master-darkest demo-custom-height-2" 
         data-pages-bg-image="{{ asset('bundles/app/frontend/assets/images/index.jpeg') }}"  
         data-pages="parallax" 
         data-bg-overlay="black" 
         data-overlay-opacity="0.4">
    <div class="inner"> Parcela J치.
Compre J치.
Pague depois.

    </div>

</section>#}