{# empty Twig template #}
<div class="p-t-60"><!-- START GOOGLE MAP -->

      <section class="container-fluid  no-padding relative" style="height:500px;">
        <div class="container-xs-height full-height">
          <div class="col-xs-height col-middle text-left">
            <!-- BEGIN CONTENT -->
            <div class="content-layer">
              <div class="inner full-height">
                <div class="container-xs-height full-height">
                  <div class="col-xs-height col-middle text-center">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                          <h2 class="text-white"><i class="pg-map"></i></h2>
                          <h5 class="text-white font-montserrat text-uppercase fs-15 hint-text">Contact us</h5>
                          <h5 class="text-white">
                                              27 Pears Street, Oklaham City <br>
Canada
</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END CONTENT -->
          </div>
        </div>
        <!-- Map -->
        <div id="google-map" class="full-width top-left bottom-right"></div>
      </section>
      <!-- END GOOGLE MAP -->
      <!-- START FOOTER -->
      <section class="p-b-30 p-t-40">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <img alt="" class="logo inline m-r-50" src="assets/images/logo_black.png">
              <div class="m-t-10 ">
                <ul class="no-style fs-11 no-padding font-arial">
                  <li class="inline no-padding"><a class=" text-master p-r-10 b-r b-grey" href="#">Home</a></li>
                  <li class="inline no-padding"><a class="hint-text text-master p-l-10 p-r-10 b-r b-grey" href="#">Themeforest</a></li>
                  <li class="inline no-padding"><a class="hint-text text-master p-l-10 p-r-10 b-r b-grey" href="#">Support</a></li>
                  <li class="inline no-padding"><a class="hint-text text-master p-l-10 p-r-10 xs-no-padding xs-m-t-10" href="#">Made with Pages</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 text-right font-arial sm-text-left">
              <p class="fs-11 no-margin"><span class="hint-text">Exclusive only at</span> Envato Marketplace,Themeforest <span class="hint-text">See</span> Standard licenses &amp; Extended licenses
              </p>
              <p class="fs-11 muted">Copyright &copy; 2014 REVOX. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- END FOOTER -->
</div>