{# empty Twig template #}




 <!-- BEGIN CONTENT SECTION PROCESS -->
      <section id="process" class="p-b-85 p-t-75 p-b-65 p-t-55">
        <div class="container">
          <div class="md-p-l-20 xs-no-padding clearfix">
            <div class="col-sm-4 no-padding">
              <div class="p-r-40 md-pr-30">
                <img alt="" class="m-b-20" src="{{ asset('bundles/app/assets/images/Parachute.svg') }}">
                <h6 class="block-title p-b-5">{% trans %}process_block_title_01{% endtrans %} <i class="pg-arrow_right m-l-10"></i></h6>
                <p class="m-b-30">{% trans %}process_text_01{% endtrans %}</p>
                <p class="muted font-arial small-text col-sm-9 no-padding">{% trans %}process_small_text_01{% endtrans %}</p>
              </div>
              <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
            </div>
            <div class="col-sm-4 no-padding">
              <div class="p-r-40 md-pr-30">
                <img alt="" class="m-b-20" src="{{ asset('bundles/app/assets/images/Prizemedalion.svg') }}">
                <h6 class="block-title p-b-5">{% trans %}process_block_title_02{% endtrans %} <i class="pg-arrow_right m-l-10"></i></h6>
                <p class="m-b-30">{% trans %}process_text_02{% endtrans %}</p>
                <p class="muted font-arial small-text col-sm-9 no-padding">{% trans %}process_small_text_02{% endtrans %}</p>
              </div>
              <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
            </div>
            <div class="col-sm-4 no-padding">
              <div class="p-r-40 md-pr-30">
                <img alt="" class="m-b-20" src="{{ asset('bundles/app/assets/images/Umbrella.svg') }}">
                <h6 class="block-title p-b-5">{% trans %}process_block_title_03{% endtrans %} <i class="pg-arrow_right m-l-10"></i></h6>
                <p class="m-b-30">{% trans %}process_text_03{% endtrans %}</p>
                <p class="muted font-arial small-text col-sm-9 no-padding">{% trans %}process_small_text_03{% endtrans %}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END CONTENT SECTION PROCESS -->


      
      