{# empty Twig template #}




 <!-- BEGIN CONTENT SECTION PROCESS -->
      <section id="{% trans %}bookmark_process{% endtrans %}" class="p-b-85 p-t-75 p-b-65 p-t-55 bg-master-lightest">
          
        <div class="container">{#<h2>Processo Simples</h2>#}
          <div class="md-p-l-20 xs-no-padding clearfix">
            <div class="col-sm-4 no-padding">
              <div class="p-r-40 md-pr-30">
                <img alt="" class="m-b-20" src="{{ asset('bundles/app/frontend/assets/images/icones_site-01-01-01.png') }}">
                <h6 class="block-title p-b-5">{% trans %}process_block_title_01{% endtrans %} <i class="pg-arrow_right m-l-10"></i></h6>
                <p class="m-b-30">{% trans %}process_text_01{% endtrans %}</p>
                <p class="muted font-arial small-text col-sm-9 no-padding">{% trans %}process_small_text_01{% endtrans %}</p>
              </div>
              <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
            </div>
            <div class="col-sm-4 no-padding">
              <div class="p-r-40 md-pr-30">
                <img alt="" class="m-b-20" src="{{ asset('bundles/app/frontend/assets/images/icones_site-01-01-02.png') }}">
                <h6 class="block-title p-b-5">{% trans %}process_block_title_02{% endtrans %} <i class="pg-arrow_right m-l-10"></i></h6>
                <p class="m-b-30">{% trans %}process_text_02{% endtrans %}</p>
                <p class="muted font-arial small-text col-sm-9 no-padding">{% trans %}process_small_text_02{% endtrans %}</p>
              </div>
              <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
            </div>
            <div class="col-sm-4 no-padding">
              <div class="p-r-40 md-pr-30">
                <img alt="" class="m-b-20" src="{{ asset('bundles/app/frontend/assets/images/icones_site-01-01-03.png') }}">
                <h6 class="block-title p-b-5">{% trans %}process_block_title_03{% endtrans %} <i class="pg-arrow_right m-l-10"></i></h6>
                <p class="m-b-30">{% trans %}process_text_03{% endtrans %}</p>
                <p class="muted font-arial small-text col-sm-9 no-padding">{% trans %}process_small_text_03{% endtrans %}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END CONTENT SECTION PROCESS -->


      
      