{# empty Twig template #}



<style>
    
    .bg-master-lightest-green{
        background-color: #7a9a2b!important;
    }
    
</style>



 <!-- BEGIN CONTENT SECTION PROCESS -->
      <section id="{% trans %}bookmark_process{% endtrans %}" class="p-b-85 p-t-75 p-b-65 p-t-55 bg-master-lightest">
          
                    <div class='text-center'>
<img src="assets/images/arrow_down.png" alt="">
<h5 class="block-title m-t-40 hint-text m-b-0">Como funciona </h5>
<h1 class="light m-t-5">A sua compra em 3 passos.</h1>
<h5 class="hint-text">Outra forma de fazer as suas compras.</h5>
</div>
          <br>
          <br>
                
        <div class="container">
          <div class="md-p-l-20 xs-no-padding clearfix">
            <div class="col-sm-4 no-padding">
              <div class="p-r-40 md-pr-30 text-center">
                <img alt="" class="m-b-20 img-responsive" src="{{ asset('bundles/app/frontend/assets/images/process/process_01.png') }}">
                <h6 class="block-title p-b-5">{% trans %}process_block_title_01{% endtrans %} <i class="pg-arrow_right m-l-10"></i></h6>
                <p class="m-b-30">{% trans %}process_text_01{% endtrans %}</p>
                <p class="muted font-arial small-text col-sm-9 no-padding">{% trans %}process_small_text_01{% endtrans %}</p>
              </div>
              <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
            </div>
            <div class="col-sm-4 no-padding">
              <div class="p-r-40 md-pr-30 text-center">
                <img alt="" class="m-b-20 img-responsive" src="{{ asset('bundles/app/frontend/assets/images/process/process_02.png') }}">
                <h6 class="block-title p-b-5">{% trans %}process_block_title_02{% endtrans %} <i class="pg-arrow_right m-l-10"></i></h6>
                <p class="m-b-30">{% trans %}process_text_02{% endtrans %}</p>
                <p class="muted font-arial small-text col-sm-9 no-padding">{% trans %}process_small_text_02{% endtrans %}</p>
              </div>
              <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
            </div>
            <div class="col-sm-4 no-padding">
              <div class="p-r-40 md-pr-30 text-center">
                <img alt="" class="m-b-20 img-responsive" src="{{ asset('bundles/app/frontend/assets/images/process/process_03.png') }}">
                <h6 class="block-title p-b-5">{% trans %}process_block_title_03{% endtrans %} <i class="pg-arrow_right m-l-10"></i></h6>
                <p class="m-b-30">{% trans %}process_text_03{% endtrans %}</p>
                <p class="muted font-arial small-text col-sm-9 no-padding">{% trans %}process_small_text_03{% endtrans %}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END CONTENT SECTION PROCESS -->


      
      