{# empty Twig template #}

    <section class="p-b-55 p-t-25">
      <!-- BEGIN TESTIMONIALS SLIDER-->
    <div class="swiper-container" id="testimonials_slider">
      <div class="swiper-wrapper">
        <!-- BEGIN TESTIMONIAL -->
        <div class="swiper-slide">
          <div class="container text-left">
            <h5 class="semi-bold m-b-30">- {% trans %}testimonials_name_01{% endtrans %}</h5>
            <h3 class="m-b-30">“{% trans %}testimonials_text_01{% endtrans %}”</h3>
            <h6 class="block-title hint-text fs-12">{% trans %}testimonials_position_01{% endtrans %}</h6>
          </div>
        </div>
        <!-- END TESTIMONIAL -->
        <!-- BEGIN TESTIMONIAL -->
        <div class="swiper-slide">
          <div class="container text-left">
            <h5 class="semi-bold m-b-30">- {% trans %}testimonials_name_01{% endtrans %}</h5>
            <h3 class="m-b-30">“{% trans %}testimonials_text_03{% endtrans %}”</h3>
            <h6 class="block-title hint-text fs-12">{% trans %}testimonials_position_02{% endtrans %}</h6>
          </div>
        </div>
        <!-- END TESTIMONIAL -->
        <!-- BEGIN TESTIMONIAL -->
        <div class="swiper-slide">
          <div class="container text-left">
            <h5 class="semi-bold m-b-30">- {% trans %}testimonials_name_01{% endtrans %}</h5>
            <h3 class="m-b-30">“{% trans %}testimonials_text_03{% endtrans %}”</h3>
            <h6 class="block-title hint-text fs-12">{% trans %}testimonials_position_03{% endtrans %}</h6>
          </div>
        </div>
        <!-- END TESTIMONIAL -->
      </div>
      <!-- Add Navigation -->
      <div class="container">
        <div class="swiper-pagination relative pull-left"></div>
      </div>
    </div>
      <!-- END TESTIMONIALS -->
    </section>