{# empty Twig template #}
<!-- Call to Action -->
<section class="fundo-azul-claro g-py-50 g-px-25 g-px-50--md">
  <div class="container">
    <div class="text-center g-mb-0">
      <span style="white-space: nowrap;" class="g-font-size-12 g-font-size-16--md text-uppercase g-font-weight-500 g-mr-15 g-pos-rel g-top-3">Diferencie o seu negócio com a <strong>Parcela Já</strong></span>
      <a href="{{ path('contactos') }}" class="btn u-btn-primary u-shadow-v21 g-font-size-12 g-font-size-16--md text-uppercase g-font-weight-500 g-rounded-50 g-mt-25 g-mt-0--md g-py-15 g-px-25 g-mr-15 g-mb-10 g-mb-0--sm">
        <i class="icon-envelope g-pos-rel g-top-1 g-mr-5"></i> Fale connosco
      </a>
    </div>
  </div>
</section>
<!-- End Call to Action -->